<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product</title>
  </head>
  <body>
  {% extends "template.html" %}
    {% block content %}
        <div class="container1">
        <div class="box">
             <img src="{{ data['image'] }}" alt="image"/>
        </div>
        <div>
             <p class="p1"></p>
            <h3>Name</h3>
            <p class="p1">{{data['name']}}</p>
            <h3>Image Link</h3>
            <p class="p1">{{data['image']}}</p>
            <h3>Price</h3>
            <p class="p1">{{data['price']}}</p>
        </div>
</div>
	  {% endblock %}
  </body>
</html>

