<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
  {% extends "template.html" %}
    {% block content %}
    <div class="container1">
    <h1> Etsy Web Scraper </h1>
        <p class="p1">A tool that returns name, image,price of a product sold on Etsy</p>
  <div class="form-group">
    <form method="POST" action="{{ url_for('home') }}">
        <input type="text" class="form-control" placeholder="product link e.g. https://www.etsy.com/uk/listing/772695061/brass-or-silver-leaf-bookmark-set" id="inputDefault" name="inputForm">
   <button type="submit" class="btn btn-primary" id="button">GET</button>
    </form>
  </div>

    </div>
	  {% endblock %}
  </body>
</html>
